<?xml version='1.0' encoding='utf-8'?>
<plugin id="blueshift-cordova-plugin" version="0.0.3"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Blueshift</name>
    
    <js-module name="Blueshift" src="www/Blueshift.js">
        <clobbers target="Blueshift" />
    </js-module>
    
    <platform name="ios">
        <preference name="BSFT_EVENT_API_KEY" />
        
        <config-file parent="/*" target="config.xml">
            <feature name="Blueshift">
                <param name="ios-package" value="BlueshiftPlugin" />
                <param name="onload" value="true" />
                <preference name="com.blueshift.config.event_api_key" value="$BSFT_EVENT_API_KEY"/>
            </feature>
        </config-file>
        
        <config-file target="*/Entitlements-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        
        <config-file target="*/Entitlements-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>
                
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
                <string>fetch</string>
            </array>
        </config-file>
        
        <podspec>
          <config>
            <source url="https://github.com/CocoaPods/Specs.git"/>
          </config>
          <pods use-frameworks="true">
            <pod name="BlueShift-iOS-SDK" spec="~> 2.2.6" />
          </pods>
        </podspec>
        
        <header-file src="src/ios/BlueshiftPlugin.h" />
        <source-file src="src/ios/BlueshiftPlugin.m" />
        <header-file src="src/ios/AppDelegate+BlueshiftPlugin.h" />
        <source-file src="src/ios/AppDelegate+BlueshiftPlugin.m" />

    </platform>
    
    <platform name="android">
        <!-- CLI variables for accepting API key and optional lib versions. -->
        <preference name="BSFT_EVENT_API_KEY" />
        <preference name="BSFT_SDK_VERSION" default="3.3.0"/>
        <preference name="GSON_VERSION" default="2.8.9"/>
        <preference name="FIREBASE_CORE_VERSION" default="17.4.4"/>
        <preference name="FIREBASE_MESSAGING_VERSION" default="20.3.0"/>

        <config-file parent="/*" target="config.xml">
            <preference name="GradlePluginGoogleServicesEnabled" value="true" />
            <preference name="GradlePluginGoogleServicesVersion" value="4.3.5" />
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Blueshift">
                <param name="android-package" value="com.blueshift.cordova.BlueshiftPlugin" />
                <param name="onload" value="true" />
            </feature>
            <preference name="com.blueshift.config.event_api_key" value="$BSFT_EVENT_API_KEY"/>
        </config-file>
        <!-- Add required permissions for Blueshift SDK to AndroidManifest.xml -->
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Optional -->
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Optional -->
        </config-file>

        <source-file src="src/android/BlueshiftPlugin.java" target-dir="src/com/blueshift/cordova" />

        <framework src="com.blueshift:android-sdk-x:$BSFT_SDK_VERSION"/>
        <framework src="com.google.code.gson:gson:$GSON_VERSION"/>
        <framework src="com.google.firebase:firebase-core:$FIREBASE_CORE_VERSION"/>
        <framework src="com.google.firebase:firebase-messaging:$FIREBASE_MESSAGING_VERSION"/>
    </platform>
</plugin>
