<?xml version='1.0' encoding='utf-8'?>
<plugin id="blueshift-cordova-plugin" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Blueshift</name>
    <js-module name="Blueshift" src="www/Blueshift.js">
        <clobbers target="Blueshift" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Blueshift">
                <param name="ios-package" value="Blueshift" />
            </feature>
        </config-file>
        <source-file src="src/ios/Blueshift.m" />
        <podspec>
          <config>
            <source url="https://github.com/CocoaPods/Specs.git"/>
          </config>
          <pods use-frameworks="true">
            <pod name="BlueShift-iOS-Extension-SDK" spec="~> 2.1.14"/>
            <pod name="BlueShift-iOS-SDK" spec="~> 2.1.14" />
          </pods>
        </podspec>
    </platform>
    <platform name="android">
        <!-- CLI variables for accepting API key and optional lib versions. -->
        <preference name="BSFT_EVENT_API_KEY" />
        <preference name="BSFT_SDK_VERSION" default="3.1.10"/>
        <preference name="GSON_VERSION" default="2.8.6"/>
        <preference name="FIREBASE_CORE_VERSION" default="16.0.6"/>
        <preference name="FIREBASE_MESSAGING_VERSION" default="17.3.4"/>

        <config-file parent="/*" target="config.xml">
            <preference name="GradlePluginGoogleServicesEnabled" value="true" />
            <preference name="GradlePluginGoogleServicesVersion" value="4.3.5" />
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Blueshift">
                <param name="android-package" value="com.blueshift.cordova.BlueshiftPlugin" />
                <param name="onload" value="true" />
            </feature>
            <preference name="com.blueshift.config.event_api_key" value="$BSFT_EVENT_API_KEY"/>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <!-- PERMISSIONS -->
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Optional -->
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <!-- FCM Receiver -->
            <service android:name="com.blueshift.fcm.BlueshiftMessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>
        <source-file src="src/android/BlueshiftPlugin.java" target-dir="src/com/blueshift/cordova" />

        <framework src="com.blueshift:android-sdk:$BSFT_SDK_VERSION"/>
        <framework src="com.google.code.gson:gson:$GSON_VERSION"/>
        <framework src="com.google.firebase:firebase-core:$FIREBASE_CORE_VERSION"/>
        <framework src="com.google.firebase:firebase-messaging:$FIREBASE_MESSAGING_VERSION"/>
    </platform>
</plugin>
