<?xml version='1.0' encoding='utf-8'?>
<plugin id="blueshift-cordova-plugin" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Blueshift</name>
    <js-module name="Blueshift" src="www/Blueshift.js">
        <clobbers target="Blueshift" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Blueshift">
                <param name="ios-package" value="Blueshift" />
            </feature>
        </config-file>
        <source-file src="src/ios/Blueshift.m" />
        <podspec>
          <config>
            <source url="https://github.com/CocoaPods/Specs.git"/>
          </config>
          <pods use-frameworks="true">
            <pod name="BlueShift-iOS-Extension-SDK" spec="~> 2.1.14"/>
            <pod name="BlueShift-iOS-SDK" spec="~> 2.1.14" />
          </pods>
        </podspec>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Blueshift">
                <param name="android-package" value="com.blueshift.cordova.BlueshiftPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/BlueshiftPlugin.java" target-dir="src/com/blueshift/cordova" />
        <framework src="com.blueshift:android-sdk:3.1.10"/>
    </platform>
</plugin>
